<h1>Welcome to your todo list!!</h1>

<h2>
	Items not started: <%= @list_items_not_started %>
</h2>
<h2>
	Items in-progress: <%= @list_items_in_progress %>
</h2>
<h2>
	Items completed: <%= @list_items_complete %>
</h2>